<div class="product-top pay2linegeneral pay2linegeneralupper pay2linegeneralupperpersonal pay2linegeneralupperanytype pay2linegeneralupperfree">
    <div class="loto lotoforMegaMillions">
        <div class="lottinner sliderlogoMegaMillions"></div>
    </div>
    <div class="ticket ng-binding">MegaMillions</div>
    <div class="linesdraws lines">
        <div class="wordlines">{{translation.Share}}</div>
        <input type="text" value="1" ng-disabled="true" />
        <!--<div class="arrows">
            <div class="vmorelines">
                <div class="morelinesinner"></div>
            </div>
            <div class="vlesslines">
                <div class="lesslinesinner"></div>
            </div>
        </div>-->
    </div>
    <div class="linesdraws draws">
        <div class="wordlines">{{translation.Draw}}</div>
        <input type="text" value="1" ng-disabled="true" />
        <!--<div class="arrows">
            <div class="vmorelines">
                <div class="morelinesinner"></div>
            </div>
            <div class="vlesslines">
                <div class="lesslinesinner"></div>
            </div>
        </div>-->
    </div>
    <div class="view view247premium">
        <div class="viewmoreless viewmore">
            <!--<div class="viewmorearrow"></div>-->
        </div>
    </div>
    <div class="total total247premium">
        {{translation.Free}}
    </div>
</div>
<br>
<br>
<br>
<br>

<!--<div class="hiddenlinenumbers animated ng-scope fadeIn">
    <h3 class="ng-binding">Your lines</h3>
    <div class="alllines alllinesofMegaMillions">
        <div class="alloneline onelineofMegaMillions">
            <div class="onelinetitle">
                <p class="ng-binding">Line 1</p>
                <div class="pencil"></div>
            </div>
            <div class="lineofnumbers">
                <div class="number numberblue"></div>
                <div class="number numberblue"></div>
                <div class="number numberblue"></div>
                <div class="number numberblue"></div>
                <div class="number numberblue"></div>
                <div class="number numberorange"></div>
                <div class="number numberorange"></div>
            </div>
        </div>
    </div>
</div>-->
