<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="/CSS_1/iceLotto/styles/Global.css" />
    <script type="text/javascript" src="/Scripts/jquery.min.js" /></script>
    <script type="text/javascript" src="/Scripts/default.js" /></script>
    <title></title>
</head>
<body>
    <div style="position:relative;width:980px;margin:0px auto;">
        <div class="awardbonus">
            <div class="awardbonusarrowup">

            </div>
            <div class="awardbonusclose">
                <img src="/CSS_1/globalImages/closure.png" alt="close" />
            </div>
            <div class="awardbonustitlecontent">
                <div class="awardbonustitle">
                    <h2>
                        Congratulations!
                    </h2>
                </div>
                <div class="awardbonuscontent">
                    <p>
                        For completing a {event name} you were awarded with a
                    </p>
                    <p class="awardamountofbonus">
                        bonus of &euro;79.00
                    </p>
                </div>
                <div class="bluepresent">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
